Flask
gunicorn
pandas
numpy
scikit-learn
# Use CPU-only version of PyTorch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cpu
torchvision==0.16.0+cpu
plotly
python-dotenv
flask-cors