# Web Framework
Flask
gunicorn

# Data Processing
pandas
numpy
scikit-learn
# Deep Learning
torch
torchvision

# Visualization
matplotlib
seaborn
plotly
jupyter

# Additional Dependencies
python-dotenv
flask-cors
psutil
requests